// Colors Neutral
//
// The neutral colors for IOTA branding.
//
// Colors:
// $black: #1c1e21 - Black
// $white: #ffffff - White
// $gunmetal-grey: #3f3f3f - Gunmetal Grey
// $body-copy: #696f76 - Body copy
// $brown-grey: #8e8e8e - Brown Grey
// $dark-grey: #1c1e21 - Dark Grey
// $light-grey: #c4c4c4 - Light Gray
// $sand-grey: #f3f2f1 - Sand Grey
//
// Styleguide Atoms.Colors Neutral

$black: #000000 !default;
$white: #ffffff !default;
// TKTKTK MATTHEW $body-copy-onlt passes AAA compliancy contrast check with #4f4f4f against a #ffffff background, with all suggested font weights
// note that I am using onlt (on light) so that ondk (on dark) in the future
$body-copy-onlt: $color-grey-steel-40 !default;
$grey-steel: $color-grey-steel !default;
$brown-grey: $color-grey-warm !default;
$dark-grey: $color-grey-cool-80 !default;
$light-grey: $color-grey-30 !default;
$sand-grey: $color-grey-warm-30 !default;

// TKTKTK MATTHEW NEED TO DEFINE THE REST OF THE COLORS HERE
$grey-60: $color-grey-60 !default;



