
// Colors Brand
//
// The brand colors for IOTA branding.
//
// Colors:
// $teal: #20a49d - teal
// $jade: #1e9a93 - Jade
// $blueberry: #603f98 - Blueberry
//
// Styleguide Atoms.Colors Brand

// TKTKTK MATTHEW KEEPING THE CODE ABOVE BECAUSE I 
// AM NOT SURE IF SOMETHING REFERENCES IT

// TKTKTK MATTHEW DEFINE COLORS HERE SO THAT THEY ARE EASILY ACCESSIBLE
// AND WITH REMEMBERABLE NAMES

$teal: $color-brand-teal-base !default;
$jade: $color-brand-jade-base !default;
$blueberry: $color-brand-blueberry-base !default;
